@use 'variables';

html{
    scroll-behavior: smooth;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: variables.$bg-color;
}

p{
    color: variables.$text-color;
}

ul{
    list-style: none;
}

a, path, rect{
    font-size: .9rem;
    transition: .3s;
}

a, button{
    color: variables.$text-color;
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    outline: 0;
}

span{
    display: block;
}