@use 'sass:color';

$bg-color: #121212;
$dark-gray: #2A2A2A;
$light-purple: #9F40EB;
$light-purple-hover: #9e40eb1a;
$project-color: #E8E8E8;
$text-color: #FFF;
$text-project-color: #B8B8B8; 

$section-title-size:  1rem;
$section-subtitle-size: 2.3rem;
$h3-size: 1.15rem;

$section-padding: 150px;