@use 'variables';
@use 'placeholders';

.header-content{
    padding: .75rem 0 1rem 0;
    @extend %flex-model;

    ul, .links-item, .icons-item{
        @extend %flex-model;
    }

    ul{
        .links-item{
            li{
                margin: .75rem;
            }
    
            a{
                &:hover{
                    color: variables.$light-purple;
                }
            }
        }

        .icons-item{
            margin: 0 variables.$section-subtitle-size;

            .icon-link{
                margin: 0 .5rem;
                height: 20px;
        
                svg:hover path[stroke], svg:hover rect[stroke]{
                    stroke: variables.$light-purple;
                }
            }
        }

        .btn{
            @extend %btn-style;
            height: 40px;
            width: 110px;
        }
    }
}
 
.line{
    background: linear-gradient(90deg, rgb(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    height: .1vh;
    width: 100%;
}