@use '../1-base/variables';
@use '../2-layouts/layouts-placeholders';
@use '../1-base/base-mixins';

.about-me{
    &-container{
        padding: variables.$section-padding;
        @extend %flex-model;
        align-items: flex-start;

        @include base-mixins.mobile{
            padding: variables.$section-padding 1.5rem;
            justify-content: center;
        }

        &-img{
            img{
                @extend %img-style;
                border-radius: 1rem 0;

                @include base-mixins.mobile{
                    border-radius: 1rem;
                    width: 300px;
                }
            }
        }

        &-content{
            min-width: 400px;
            margin-top: 2.5rem;
            width: 50%;

            @include base-mixins.mobile{
                text-align: center;
            }

            .small-line{
                margin: 0;

                @include base-mixins.mobile{
                    margin: 0 auto
                }
            }

            .tabs{
                margin: 1.5rem 0 3rem 0;
                
                @include base-mixins.mobile{
                    display: none;
                }

                &-btn{
                    border-radius: .5rem 0 .5rem 0;
                    margin-right: .2rem;        
                    height: 30px;
                    width: 125px;

                    &::before{
                        content: '';
                        border-radius: .5rem 0 .5rem 0;
                    }
                }

                &-btn:nth-child(2),
                &-btn:nth-child(3){
                    font-weight: variables.$bold-font;
                    background-color: variables.$dark-gray;
                }
            }

            
            .tab-content{
                &-title{
                    font-size: variables.$h3-size;
                    color: variables.$light-purple;
                    
                    @include base-mixins.mobile{
                        margin-top: 2.5rem;
                    }
                }

                &-text{
                    margin: 1.5rem auto 4.5rem auto;
                    
                    @include base-mixins.mobile{
                        width: 400px;
                    }
                }
            }

            .tab-content + .tab-content{
                display: none;
            }

            .btn-cv{
                border: 1px solid variables.$light-purple;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                height: 40px;
                width: 145px;

                span{
                    color: variables.$light-purple;
                }
            }
        }
    }
}