@use '../1-base/variables';
@use '../2-layouts/layouts-placeholders';

.about-me{
    &-container{
        padding: variables.$section-padding;
        @extend %flex-model;
        align-items: flex-start;

        &-img{
            img{
                @extend %img-style;
                border-radius: .5rem 0;
            }
        }

        &-content{
            min-width: 400px;
            margin-top: 2.5rem;
            width: 50%;

            .small-line{
                margin: 0;
            }

            .tabs{
                margin: 1.5rem 0 3rem 0;

                &-btn{
                    border-radius: .5rem 0 .5rem 0;
                    margin-right: .2rem;        
                    height: 30px;
                    width: 125px;
                }

                &-btn:nth-child(2),
                &-btn:nth-child(3){
                    font-weight: variables.$bold-font;
                    background-color: variables.$dark-gray;
                }
            }

            
            .tab-content{
                &-title{
                    font-size: variables.$h3-size;
                    color: variables.$light-purple;
                }

                &-text{
                    margin: 1.5rem 0 4.5rem 0;
                }
            }

            .tab-content + .tab-content{
                display: none;
            }

            .btn-cv{
                border: 1px solid variables.$light-purple;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                height: 40px;
                width: 145px;

                span{
                    color: variables.$light-purple;
                }
            }
        }
    }
}