@use '../1-base/variables';
@use '../2-layouts/layouts-placeholders';
@use '../1-base/base-mixins';

body.light{
    .contact{
        &-container{
            .contact-form{
                label{
                    color: variables.$bg-color;
                }

                input, textarea{
                    background-color: rgba(18,18,18, 10%);
                    color: variables.$bg-color;
                }

                input::placeholder, textarea::placeholder{
                    color: rgba(12,12,12, 70%);
                }

                .btn-message{
                    background-color: variables.$light-purple;
                    color: variables.$text-color;
                }
            }
        }
    }
}

.contact{
    &-container{
        padding: variables.$section-padding;

        @include base-mixins.mobile{
            padding: variables.$section-padding 1.5rem 120px 1.5rem;
        }

        .contact-form{
            margin: 4rem auto 0 auto;
            width: 500px;

            @include base-mixins.mobile{
                width: 100%;
            }

            &-box{
                margin-bottom: 2.5rem;

                label{
                    color: variables.$text-color;
                }

                input, textarea{
                    border-radius: 1rem 0;
                    color: variables.$text-project-color;
                    background-color: variables.$dark-gray;
                    margin-top: .25rem;
                    padding: 1rem;
                    width: 100%;
                }

                input::placeholder, textarea::placeholder{
                    color: variables.$text-project-color;
                }

                textarea{
                    resize: none;
                }
            }

            .btn-message{
                padding: .75rem;
                width: 100%;
            }
        }
    }
}