@use '../1-base/variables';
@use '../2-layouts/layouts-placeholders';

.header-content{
    padding: .75rem variables.$section-padding 1rem variables.$section-padding;
    @extend %flex-model;

    ul, .links-item, .icons-item{
        @extend %flex-model;
    }

    ul{
        .links-item{
            li{
                margin: .75rem;
            }
    
            a{
                font-weight: variables.$bold-font;
                &:hover{
                    color: variables.$light-purple;
                }
            }
        }

        .icons-item{
            margin: 0 variables.$section-subtitle-size;

            .icon-link{
                margin: 0 .5rem;
                height: 20px;
        
                svg:hover path[stroke], svg:hover rect[stroke]{
                    stroke: variables.$light-purple;
                }
            }
        }
    }

    .btn-contact{
        height: 40px;
        width: 110px;
    }
}
