@use '../1-base/variables';
@use '../2-layouts/layouts-placeholders';
@use '../1-base/base-mixins';

body.light{
    .introduce-container-content-job{
        font-weight: bold;
    }
}

#introduce{
    @extend %center-section;
}

.introduce-container{
    color: variables.$text-color;
    padding: 6rem variables.$section-padding 0 variables.$section-padding;  
    @extend %flex-model;
    @extend %layout-width;

    @include base-mixins.mobile{
        padding: 3rem 1.5rem 0 1.5rem;
        justify-content: center;
    }

    &-content{
        margin-top: 8rem;
        
        @include base-mixins.mobile{
            margin-top: 3rem;
            order: 1;
            text-align: center; 
        }

        &-message{
            text-align: center;
            font-size: 14px;
            padding: .35rem 0;
            width: 170px;
        }

        &-name, &-job{
            margin-top: .5rem;
        }

        &-name{
            font-size: 4rem;

            @include base-mixins.mobile{
                font-size: 3rem;
            }
        }

        &-job{
            color: variables.$text-color;
            margin-bottom: variables.$section-title-size;
        }

        b{
            color: variables.$light-purple;
        }

        &-text{
            width: 480px;
            margin-bottom: 8rem;

            @include base-mixins.mobile{
                margin-bottom: 6rem;
                width: 350px;
            }
        }

        svg{
            animation: up .5s infinite;
            animation-iteration-count: infinite; 
            animation-direction: alternate-reverse
        }
    }

    &-img{
        img{
            @extend %img-style;
            border-radius: .5rem .5rem 0 0;

            @include base-mixins.mobile{
                border-radius: .5rem;
                width: 300px;
            }
        }
    }
}