@use '../1-base/variables';

%img-style{
    min-width: 300px;
    width: 100%;
}

%section-title{
    color: variables.$light-purple;
    font-size: variables.$section-title-size;
    font-weight: 700;
}

%section-subtitle{
    font-size: variables.$section-subtitle-size;
    color: variables.$text-color;
    font-weight: 400;
    margin: .5rem 0;
}