@use '../1-base/variables';

%img-style{
    min-width: 300px;
    width: 100%;
}

%flex-model{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

%center-section{
    display: flex;
    justify-content: center;
}

%layout-width{
    max-width: 1366px;
    width: 100%;
}