@use '../1-base/variables';
@use 'layouts-placeholders';
@use '../1-base/base-mixins';

body.light{
    .projects-container{
        &-content{
            &-box{
                background-color: variables.$text-color;

                .project-content-intro-links{
                    path{
                        stroke: variables.$bg-color;
                    }
                }

                .project-content-intro-titles-name,
                .project-content-paragraph{
                    color: variables.$bg-color;
                }
            }
        }
    }
}

.projects-container{
    background: variables.$light-purple-hover;
    padding: 125px variables.$section-padding;

    @include base-mixins.mobile{
        padding: 125px 1.5rem;
    }

    .section-introduce{
        text-align: center;
    }

    &-content{
        @extend %flex-model;

        @include base-mixins.mobile{
            justify-content: center;
        }

        &-box{
            background-color: variables.$dark-gray;
            border-radius: 1rem 0;
            margin: 4rem 0 2rem 0;
            position: relative;
            height: 400px;
            width: 325px;

            img{
                border-top-left-radius: .5rem;
                width: 100%;
                height: 40%;
                filter: opacity(0.8);
            }

        }
        
        .project-content{
            padding-left: 20px;

            &-intro{
                @extend %flex-model;

                &-titles{
                    &-tag{
                        color: variables.$light-purple;
                        margin: 1rem 0 .25rem 0;
                        font-size: 0.75rem;
                        font-weight: 700;
                    }
        
                    &-name{
                        color: variables.$text-color;
                    }
                }

                &-links{
                    margin: .75rem 1rem 0 0;

                    svg{
                        margin-right: 1rem;
                        
                        &:hover{
                            path{
                                stroke: variables.$light-purple;
                            }
                        }
                    }
                }
            }


            &-paragraph{
                color: variables.$text-project-color;
                margin-top: 10px;
                width: 280px;
            }
        }

    }

    .projects-container-carrosel{
        @extend %flex-model;

        @include base-mixins.mobile{
            justify-content: center;
        }

        &-arrow{
            @include base-mixins.mobile{
                display: none;
            }
        }
    }
}
