@use '../1-base/variables';
@use 'layouts-placeholders';
@use '../1-base/base-mixins';

.projects-container{
    background: variables.$light-purple-hover;
    padding: 125px variables.$section-padding;

    @include base-mixins.mobile{
        padding: 125px 1.5rem;
    }

    .section-introduce{
        text-align: center;
    }

    &-content{
        @extend %flex-model;

        @include base-mixins.mobile{
            justify-content: center;
        }

        &-box{
            background-color: variables.$dark-gray;
            border-radius: 1rem 0;
            margin: 4rem 0 2rem 0;
            height: 400px;
            width: 330px;

            img{
                border-top-left-radius: .5rem;
                width: 100%;
            }
        }

        .project-content{
            padding-left: 20px;

            &-tag{
                color: variables.$light-purple;
                margin: 1rem 0 .25rem 0;
                font-size: 0.75rem;
                font-weight: 700;
            }

            &-name{
                color: variables.$text-color;
            }

            &-paragraph{
                color: variables.$text-project-color;
                margin-top: 10px;
                width: 300px;
            }
        }

    }

    .projects-container-carrosel{
        @extend %flex-model;

        @include base-mixins.mobile{
            justify-content: center;
        }

        &-arrow{
            @include base-mixins.mobile{
                display: none;
            }
        }
    }
}
