html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #121212;
}

p {
  color: #FFF;
}

ul {
  list-style: none;
}

a, path, rect {
  font-size: 0.9rem;
  transition: 0.3s;
}

a, button {
  color: #FFF;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: 0;
}

.about-me-container-img img, .introduce-container-img img {
  min-width: 300px;
  width: 100%;
}

.span-title {
  color: #9F40EB;
  font-size: 1rem;
  font-weight: 700;
}

.section-subtitle {
  font-size: 2.3rem;
  color: #FFF;
  font-weight: 400;
  margin: 0.5rem 0;
}

.about-me-container, .introduce-container, .header-content, .header-content ul, .header-content .links-item, .header-content .icons-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn, .introduce-container-content-message {
  background-color: rgba(158, 64, 235, 0.1019607843);
  border-radius: 1rem 0 1rem 0;
  font-weight: 700;
  color: #9F40EB;
  position: relative;
}
.btn::before, .introduce-container-content-message::before {
  content: "";
  border-radius: 1rem 0 1rem 0;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  transition: 0.3s;
  width: 0;
}
.btn:hover::before, .introduce-container-content-message:hover::before {
  background-color: rgba(158, 64, 235, 0.1019607843);
  width: 100%;
}

.header-content {
  padding: 0.75rem 150px 1rem 150px;
}
.header-content ul .links-item li {
  margin: 0.75rem;
}
.header-content ul .links-item a:hover {
  color: #9F40EB;
}
.header-content ul .icons-item {
  margin: 0 2.3rem;
}
.header-content ul .icons-item .icon-link {
  margin: 0 0.5rem;
  height: 20px;
}
.header-content ul .icons-item .icon-link svg:hover path[stroke], .header-content ul .icons-item .icon-link svg:hover rect[stroke] {
  stroke: #9F40EB;
}
.header-content .btn-contact {
  height: 40px;
  width: 110px;
}

.big-line {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  margin-top: 1rem;
  height: 1px;
  width: 100%;
}

.introduce-container {
  color: #FFF;
  align-items: flex-start;
  padding: 6rem 150px 0 150px;
}
.introduce-container-content {
  margin-top: 8rem;
}
.introduce-container-content-message {
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  padding: 0.35rem 0;
  width: 170px;
}
.introduce-container-content-name, .introduce-container-content-job {
  margin-top: 0.5rem;
}
.introduce-container-content-name {
  font-size: 4rem;
}
.introduce-container-content-job {
  color: #FFF;
  margin-bottom: 1rem;
}
.introduce-container-content b {
  color: #9F40EB;
}
.introduce-container-content-text {
  width: 450px;
  margin-bottom: 8rem;
}
.introduce-container-img img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.about-me-container {
  padding: 150px;
  align-items: flex-start;
}
.about-me-container-img img {
  border-radius: 0.5rem 0;
}
.about-me-container-content {
  min-width: 400px;
  margin-top: 2.5rem;
  width: 50%;
}
.about-me-container-content .small-line {
  background-color: #9F40EB;
  height: 1px;
  width: 25px;
}
.about-me-container-content .tabs {
  margin: 1.5rem 0 3rem 0;
}
.about-me-container-content .tabs-btn {
  border-radius: 0.5rem 0 0.5rem 0;
  margin-right: 0.2rem;
  height: 30px;
  width: 125px;
}
.about-me-container-content .tabs-btn:nth-child(2), .about-me-container-content .tabs-btn:nth-child(3) {
  background-color: #2A2A2A;
}
.about-me-container-content .tab-content-title {
  font-size: 1.15rem;
  color: #9F40EB;
}
.about-me-container-content .tab-content-text {
  margin: 1.5rem 0 4.5rem 0;
}
.about-me-container-content .tab-content + .tab-content {
  display: none;
}
.about-me-container-content .btn-cv {
  border: 1px solid #9F40EB;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 40px;
  width: 145px;
}
.about-me-container-content .btn-cv a {
  color: #9F40EB;
}

/*# sourceMappingURL=main.css.map */
