[data-anime]{
    opacity: 0;
    transition: 1s;
}

[data-anime="to-right"]{
    transform: translate3d(5px, 0, 0);
}

[data-anime="to-left"]{
    transform: translate3d(5px, 0, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
    }
}