@use '../1-base/variables';
@use '../2-layouts/layouts-placeholders';
@use '../1-base/base-mixins';

.btn{
    background-color: variables.$light-purple-hover;
    border-radius: 1rem 0 1rem 0;
    font-weight: variables.$bold-font;
    color: variables.$light-purple;
    position: relative;

    @include base-mixins.mobile{
        margin: 0 auto;
    }

    &::before{
        content: '';
        border-radius: 1rem 0 1rem 0;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        transition: .3s;
        width: 0;
    }

    &:hover::before{
        background-color: variables.$light-purple-hover;
        width: 100%;
    }
}