@use '../1-base/variables';
@use '../1-base/base-mixins';

.section-title{
    color: variables.$light-purple;
    font-size: variables.$section-title-size;
    font-weight: 700;
}

.section-subtitle{
    font-size: variables.$section-subtitle-size;
    color: variables.$text-color;
    font-weight: 400;
    margin: .5rem 0;

    @include base-mixins.mobile{
        font-size: 1.5rem;
        margin: 1rem;
    }
}

.section-introduce{
    text-align: center;
}